﻿@model PagedList.PagedList<WebsiteBanDoAnVaThucUong.Models.EF.StoreDTO>
@using WebsiteBanDoAnVaThucUong.Common
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/stores_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/stores_responsive.css">

<div class="store-grid">

    <div class="row">
        <div class="col text-center">
            <div class="section_title new_arrivals_title">
                <h2>Các chi nhánh cửa hàng</h2>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px; margin-left:100px; margin: 100px">
        <div class="row">


            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <!-- Product 1 -->

                    <div class="store-item @item.Alias">

                        <div class="store discount store_filter">
                            <div class="store_info">
                                <div class="store_image">
                                    <img src="~/Image/@item.Image" style="width:300px;height:200px" />
                                </div>



                                @*<h3 class="store_name"><a href="/stores/details/@item.Id" style="font-size:20px">@item.Name </a></h3>*@
                                <h3 class="store_name" style="font-size:20px">@item.Name</h3>
                                <h6 style="font-size:16px;margin-top:30px; margin-left:30px; margin-right:30px"> @item.Address</h6>
                                <h3>
                                    @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                                    <a href="@Url.Action("Index", "StoreProducts", new { storeId = item.Id })" class="btn btn-sm btn-info">Xem sản phẩm</a>
                                </h3>
                            </div>

                        </div>
                    </div>

                }
            }

        </div>

    </div>
</div>

@section scripts{
    <script src="~/Content/assets/js/store.js"></script>
}

<script src="~/lib/leaf/leaflet.js"></script>
<script src="~/lib/leaf/leaflet.min.js"></script>
<link href="~/lib/leaf/leaflet.min.css" rel="stylesheet" />
<link href="~/lib/leaf/leaflet.css" rel="stylesheet" />
<div id="map" style="width:100%;height:400px"></div>
<script>
    var map = L.map('map').setView([10.902522935042768, 106.5834090763168], 8);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);


    var jsModel = @Html.Raw(Json.Encode(Model));
        console.log(jsModel)

        //var settings = new JsonSerializerSettings
        //{
        //    ReferenceLoopHandling = ReferenceLoopHandling.Ignore
        //};
        //var jsModel = Html.Raw(JsonConvert.SerializeObject(Model, settings));

    var myIcon = L.icon({
        iconUrl: '/lib/leaf/images/location.png',
        iconSize: [25, 45],
        iconAnchor: [15, 45],
        popupAnchor: [-3, -46],

    });

    for (i in jsModel) {
        item = jsModel[i]
        if (item.long < 35) {
            L.marker([item.Lat, item.Long], {icon:myIcon}).addTo(map).bindPopup(item.Name + '<br>' + item.Address)
        }
        else {
            L.marker([item.Lat, item.Long]).addTo(map).bindPopup(item.Name + '<br>' + item.Address)
        }

    }
</script>
