﻿@model PagedList.PagedList<WebsiteBanDoAnVaThucUong.Models.EF.StoreDTO>
@using PagedList.Mvc
@Html.AntiForgeryToken()
@{
    ViewBag.Title = "Quản lý chi nhánh";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/stores" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách Chi nhánh</h3>

            <div class="card-tools">
                <a href="/admin/stores/create" class="btn btn-success">Thêm mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Địa chỉ</th>
                        <th>Long</th>
                        <th>Lat</th>
                        <th>Hình ảnh</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                        foreach (var item in Model)
                        {

                            <tr id="trow_@item.Id">
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td>@item.Address</td>
                                <td>@item.Long</td>
                                <td>@item.Lat</td>
                                <td><img src="~/Image/@item.Image" style="width:100px;height:80px" /></td>
                                <td>
                                    <a href="/admin/stores/edit/@item.Id" class="btn btn-sm btn-primary">Sửa</a>
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                    <a href="@Url.Action("Index", "StoreProducts", new { area = "Admin", storeId = item.Id })" class="btn btn-sm btn-info">Xem sản phẩm</a>
                                </td>

                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bản ghi nào!!!</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align:right;">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div id="map" style="width:100%;height:400px">
                    </div>
                </div>
                <div class="card-footer">
                </div>

</section>
@section scripts{
    <script src="~/Content/assets/js/store.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/leaf/leaflet.js"></script>
    <script src="~/lib/leaf/leaflet.min.js"></script>
    <link href="~/lib/leaf/leaflet.min.css" rel="stylesheet" />
    <link href="~/lib/leaf/leaflet.css" rel="stylesheet" />

    <script>
   var map = L.map('map').setView([10.902522935042768, 106.5834090763168], 8);
   L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
   attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
   }).addTo(map);

   var jsModel = @Html.Raw(Json.Encode(Model));
   console.log(jsModel)

   var myIcon = L.icon({
   iconUrl: '/lib/leaf/images/location.png',
   iconSize: [25, 45],
   iconAnchor: [15, 45],
   popupAnchor: [-3, -46],
   });
    for (i in jsModel) {
     item = jsModel[i]
         if (item.long < 35) {
             L.marker([item.Lat, item.Long], {icon:myIcon}).addTo(map).bindPopup(item.Name + '<br>' + item.Address)
          }
         else {
        L.marker([item.Lat, item.Long]).addTo(map).bindPopup(item.Name + '<br>' + item.Address)
         }
    }
    </script>
    </div>
    </div>
    <script>
        $(document).ready(function () {
           $(document).on('click', '.btnDelete', function(e) {
            e.preventDefault();
                var id = $(this).data('id');
           if (confirm("Bạn có chắc chắn muốn xóa chi nhánh này?")) {
                $.ajax({
                url: '@Url.Action("Delete", "Stores", new { area = "Admin" })/' + id,
                type: 'POST',
                dataType: 'json',
                 data: {
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                  },
                success: function(result) {
                if (result.success) {
                $('#trow_' + id).remove();
                 alert(result.message);
                } else {
                alert(result.message);
                    }
                        },
             error: function(xhr, status, error) {
             console.log(xhr.responseText);
             alert('Có lỗi xảy ra trong quá trình xóa chi nhánh.');
                    }
            });
          }
     });
});
    </script>
}