@model IEnumerable<WebsiteBanDoAnVaThucUong.Models.ShoppingCartItem>
@using WebsiteBanDoAnVaThucUong.Common

<table class="table">
    <tr class="text-center">
        <th>STT</th>
        <th>Ảnh sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Danh mục</th>
        <th>Giá</th>
        <th style="width:100px;">Số lượng</th>
        <th>Topping</th>
        <th>Size</th>
        <th>Extra</th>
        <th>Thành tiền</th>
        <th style="width:200px;"></th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 0;
        var tongtien = decimal.Zero;
        var tongsl = 0;
        foreach (var item in Model)
        {
            tongtien += item.TotalPrice;
            tongsl += item.Quantity;
            <tr class="text-center" id="trow_@item.ProductId">
                <td>@(i+1)</td>
                <td><img src="@item.ProductImg" width="60" /></td>
                <td>
                    <a href="/chi-tiet/@item.Alias-p@(item.ProductId)">
                        @item.ProductName
                    </a>
                    @if (item.IsGift)
                    {
                        <span class="badge badge-success">Quà tặng</span>
                    }
                </td>
                <td>@item.CategoryName</td>
                <td>
                    @if (item.IsGift)
                    {
                        <del>@Common.FormatNumber(item.OriginalPrice, 0)</del>
                        <span>0đ</span>
                    }
                    else if (item.DiscountAmount > 0)
                    {
                        <del>@Common.FormatNumber(item.Price, 0)</del><br />
                        <span class="text-danger">@Common.FormatNumber(item.Price - (item.DiscountAmount / item.Quantity), 0)</span>
                    }
                    else
                    {
                        @Common.FormatNumber(item.Price, 0)
                    }
                </td>
                <td>
                    <input type="number" class="form-control" id="Quantity_@item.ProductId"
                           value="@item.Quantity" @(item.IsGift ? "disabled" : "") />
                </td>
                <td>@item.FormattedToppingNames</td>
                <td>@item.FormattedSizeNames</td>
                <td>@item.FormattedExtraNames</td>
                <td>@Common.FormatNumber(item.TotalPrice, 0)</td>
                <td>
                    @if (!item.IsGift)
                    {
                        <a href="#" data-id="@item.ProductId"
                           data-storeid="@item.StoreId"
                           data-sizeids="@string.Join(",", item.SelectedSizeIds)"
                           data-toppingids="@string.Join(",", item.SelectedToppingIds)"
                           data-extraids="@string.Join(",", item.SelectedExtraIds)"
                           class="btn btn-sm btn-danger btnDelete">Xóa</a>
                        <a href="#" data-id="@item.ProductId"
                           data-storeid="@item.StoreId"
                           data-sizeids="@string.Join(",", item.SelectedSizeIds)"
                           data-toppingids="@string.Join(",", item.SelectedToppingIds)"
                           data-extraids="@string.Join(",", item.SelectedExtraIds)"
                           class="btn btn-sm btn-success btnUpdate">Cập nhật</a>
                    }
                </td>
            </tr>
            i++;
        }
        <tr>
            <th colspan="5" class="text-right">Tổng số lượng: </th>
            <th class="text-center">@tongsl</th>
            <th colspan="4"></th>
        </tr>
        <tr>
            <th colspan="9" class="text-right">Tổng tiền: </th>
            <th class="text-center">@Common.FormatNumber(tongtien, 0)</th>
            <th></th>
        </tr>
    }
    else
    {
        <tr>
            <th colspan="11">Không có sản phẩm trong giỏ hàng!!</th>
        </tr>
    }
</table>