@model IEnumerable<WebsiteBanDoAnVaThucUong.Models.ShoppingCartItem>
@using WebsiteBanDoAnVaThucUong.Common

@if (Model != null && Model.Any())
{
    <h3>GIỎ HÀNG <span style="float:right;position:relative"><small></small></span></h3>

    var i = 0;
    var tongtien = decimal.Zero;
    var tongsl = 0;
    var soluong = 0;
    var thanhtien = decimal.Zero;
    <div style="border:1px solid #808080; width:470px; height:600px">
        <table class="table">
            <tr>
                <td></td>
                <th style="width:100px;">Tên sản phẩm</th>
                <th style="width:100px;">Món thêm</th>
                <th style="width:100px;">Giá</th>
                <th style="width:100px;">Số lượng</th>
                <th style="width:100px;">Thành tiền</th>
                <td style="width:200px;"></td>
            </tr>
            @foreach (var item in Model)
            {
                soluong = item.Quantity;
                thanhtien = item.TotalPrice;
                tongtien += item.TotalPrice;
                tongsl += item.Quantity;
                <tr>
                    <td></td>
                    <td>@item.ProductName @item.FormattedSizeNames</td>
                    <td>@item.FormattedToppingNames @item.FormattedExtraNames</td>
                    <td>
                        @if (item.IsGift)
                        {
                            <del>@Common.FormatNumber(item.OriginalPrice, 0)</del>
                            <span>0đ</span>
                        }
                        else if (item.DiscountAmount > 0)
                        {
                            <del>@Common.FormatNumber(item.Price, 0)</del><br />
                            <span class="text-danger">@Common.FormatNumber(item.Price - (item.DiscountAmount / item.Quantity), 0)</span>
                        }
                        else
                        {
                            @Common.FormatNumber(item.Price, 0)
                        }
                    </td>
                    <td>@soluong</td>
                    <td>@Common.FormatNumber(thanhtien, 0)</td>
                </tr>
            }
            <tr>
                <td>Tổng số lượng</td>
                <td colspan="4"></td>
                <td>@tongsl</td>
            </tr>
            <tr id="originalTotalRow">
                <td>Tổng tiền</td>
                <td colspan="4"></td>
                <td id="originalTotal">@Common.FormatNumber(tongtien, 0)</td>
            </tr>
            <tr id="discountRow" style="display:none;">
                <td>Giảm giá</td>
                <td colspan="4"></td>
                <td id="discountAmount"></td>
            </tr>
            <tr id="newTotalRow" style="display:none;">
                <td>Tổng tiền sau giảm giá</td>
                <td colspan="4"></td>
                <td id="newTotal"></td>
            </tr>
        </table>
    </div>
}