﻿@model WebsiteBanDoAnVaThucUong.Models.EF.StoreProduct

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_responsive.css">
﻿@{

    Layout = null;
    var isFood = Model.Product.ProductTypeId == 1;
    var isBeverage = Model.Product.ProductTypeId == 2;
}


@if (Model != null)
{


    <div class="container single_product_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/danh-muc-san-pham/@Model.Product.ProductCategory.Alias-@Model.Product.ProductCategoryId"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Product.ProductCategory.Title</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>@Model.Product.Title</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                @if (Model.Product.ProductImage != null && Model.Product.ProductImage.Any())
                {
                    <div class="single_product_pics">
                        <div class="row">
                            <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                                <div class="single_product_thumbnails">
                                    <ul>
                                        @foreach (var item in Model.Product.ProductImage)
                                        {
                                            if (item.IsDefault)
                                            {
                                                <li class="active"><img src="@item.Image" alt="" data-image="@item.Image"></li>
                                            }
                                            else
                                            {
                                                <li><img src="@item.Image" alt="" data-image="@item.Image"></li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 image_col order-lg-2 order-1">
                                <div class="single_product_image">
                                    <div class="single_product_image_background" style="background-image:url(@Model.Product.ProductImage.FirstOrDefault(x=>x.IsDefault).Image)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-5">
                <div class="product_details">
                    <div class="product_details_title">
                        <h2>@Model.Product.Title</h2>
                        <p>@Model.Product.Description</p>
                        <p>Lượt xem: <b>@Model.Product.ViewCount</b></p>
                        <div class="promotions-section">

                            @{
                                var activePromotions = Model.Product.PromotionProduct
                                    .Where(pp => pp.Promotion.IsActive
                                        && pp.Promotion.StartDate <= DateTime.Now
                                        && pp.Promotion.EndDate >= DateTime.Now)
                                    .Select(pp => pp.Promotion);
                            }

                            @if (activePromotions.Any())
                            {
                                foreach (var promo in activePromotions)
                                {
                                    <div class="promotion-detail">
                                        <div class="promotion-value">
                                            @if (promo.DiscountType == 3)
                                            {
                                                var promotionProducts = promo.PromotionProduct.ToList();
                                                var productsToBuy = promotionProducts
                                                    .Where(pp => pp.IsBuyProduct)
                                                    .Select(pp => pp.Product.Title).ToList();

                                                var productsToGet = promotionProducts
                                               .Where(pp => !pp.IsBuyProduct)
                                               .Select(pp => pp.Product.Title)
                                               .ToList();
                                                <span style="color: #d15151; font-size: 15px; ">
                                                    <i class="fas fa-gifts">   </i> MUA @string.Join(" và ", productsToBuy)
                                                    TẶNG @string.Join(", ", productsToGet)
                                                </span>
                                            }
                                            @switch (promo.DiscountType)
                                            {
                                                case 1:
                                                    <span style="color: #e53935; font-size: 15px; ">  <i class="fas fa-tags"></i> Giảm @promo.Name khi mua sản phẩm @Model.Product.Title </span>
                                                    break;
                                                case 2:
                                                    <span style="color: #d15151; font-size: 15px; "> <i class="fas fa-gift">   </i> @promo.Name sản phẩm @Model.Product.Title</span>
                                                    break;
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                </div>
                    @*<input type="hidden" id="basePrice" value="@Model.Product.SalePrice" />*@
                    @*Base price display*@
                    <div class="product_price" id="totalPrice">
                        @WebsiteBanDoAnVaThucUong.Common.Common.FormatNumber(Model.Product.SalePrice, 0)
                    </div>

                    <!-- Size Selection -->
                    @if (Model.Product.ProductSize.Any())
                    {
                        <div class="size-options">
                            <h4>Chọn Size</h4>
                            <div class="options-container">
                                @foreach (var size in Model.Product.ProductSize)
                                {
                                    <div class="option-item">
                                        <input type="radio"
                                               class="size-option"
                                               name="size"
                                                id="size_@size.Id"
                                                value="@size.Id"
                                               data-price="@size.Size.PriceSize" />
                                        <label for="size_@size.Id">
                                            @size.Size.NameSize (+@WebsiteBanDoAnVaThucUong.Common.Common.FormatNumber(size.Size.PriceSize, 0))
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    @if (Model.Product.ProductTopping.Any())
                    {
                        <div class="topping-options">
                            <h4>Chọn Topping</h4>
                            <div class="options-container">
                                @foreach (var topping in Model.Product.ProductTopping)
                                {
                                    <div class="option-item">
                                        <input type="checkbox"
                                               class="topping-option"
                                               id="topping_@topping.Id"
                                               value="@topping.Id"
                                               data-price="@topping.Topping.PriceTopping" />
                                        <label for="topping_@topping.Id">
                                            @topping.Topping.NameTopping (+@WebsiteBanDoAnVaThucUong.Common.Common.FormatNumber(topping.Topping.PriceTopping, 0))
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    <!-- Extra Selection -->
                    @if (Model.Product.ProductExtra.Any())
                    {
                        <div class="extra-options">
                            <h4>Chọn Extra</h4>
                            <div class="options-container">
                                @foreach (var extra in Model.Product.ProductExtra)
                                {
                                    <div class="option-item">
                                        <input type="checkbox"
                                               class="extra-option"
                                               id="extra_@extra.Id"
                                               value="@extra.Id"
                                               data-price="@extra.Extra.Price" />
                                        <label for="extra_@extra.Id">
                                            @extra.Extra.Name (+@WebsiteBanDoAnVaThucUong.Common.Common.FormatNumber(extra.Extra.Price, 0))
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    }   
                    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                        <span>Quantity:</span>
                        <div class="quantity_selector">
                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span id="quantity_value">1</span>
                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>

                        <div class="red_button cart">
                            <a href="#" class="btnAddToCart" data-id="@Model.ProductId" data-storeid="@Model.StoreId">add to cart</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    <div class="tabs_section_container">

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="tabs_container">
                        <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                            <li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
                            @*<li class="tab" data-active-tab="tab_2"><span>Additional Information</span></li>*@
                            <li class="tab" data-active-tab="tab_3"><span>Reviews (@ViewBag.CountReview)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                    <!-- Tab Description -->

                    <div id="tab_1" class="tab_container active">
                        <div class="row">
                            @Html.Raw(Model.Product.Detail)
                        </div>
                    </div>
                    <!-- Tab Additional Info -->
                    <!-- Tab Reviews -->

                    <div id="tab_3" class="tab_container">
                        <div class="row">

                            <!-- User Reviews -->

                            <div class="col-lg-6 reviews_col">
                                @Html.Action("_Load_Review", "Review", new { productId = Model.Id })
                            </div>

                            <!-- Add Review -->
                            <div class="col-lg-6 add_review_col">
                                @Html.Action("_Review", "Review", new { productId = Model.Id })
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.Action("RelatedProducts", new { productId = Model.Id })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @Html.Action("ViewHistory", new { productId = Model.Id })
                </div>
            </div>
        </div>

    </div>

}

<script src="~/Scripts/alertify.min.js"></script>
<link href="~/Content/alertify.min.css" rel="stylesheet" />
<script>
$(document).ready(function() {
    let basePrice = @Model.Product.SalePrice;

    function calculateTotalPrice() {
        let total = basePrice;
        let quantity = parseInt($('#quantity_value').text()) || 1;

        // Add size price
        const selectedSize = $('.size-option:checked');
        if (selectedSize.length > 0) {
            total += parseFloat(selectedSize.data('price')) ||0;
        }

        // Add topping prices
        $('.topping-option:checked').each(function() {
            total += parseFloat($(this).data('price')) ||0;
        });

        // Add extra prices
        $('.extra-option:checked').each(function() {
            total += parseFloat($(this).data('price')) || 0;
        });

        // Multiply by quantity
        total *= quantity;

        // Update price display with formatted currency
        $('#totalPrice').text(formatCurrency(total));
        return total;
    }

    // Format currency function
    function formatCurrency(amount) {
        return new Intl.NumberFormat('vi-VN', {
            style: 'currency',
            currency: 'VND'
        }).format(amount);
    }

    // Event listeners for price updates
    $('.size-option, .topping-option, .extra-option').change(calculateTotalPrice);

});
</script>