@model IEnumerable<WebsiteBanDoAnVaThucUong.Models.EF.Product>
@{
    ViewBag.Title = "Kết quả tìm kiếm";
}
@*<div class="store-grid">*@
<div clss="container">
    <div class="row">
        <div class="col text-center">
            <div class="section_title new_arrivals_title">
                <h2 style="margin-top:50px">Các sản phẩm có trong từ khóa tìm kiếm của bạn: </h2>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px; margin-left:100px; margin:10px">
        @*<div class="col" style="width: 400px; height: 300px">*@
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <!-- Product 1 -->

                    var strImge = "";
                    var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                    if (img != null)
                    {
                        strImge = img.Image;
                    }

                    <div class="product-item @item.ProductCategory.Alias" style="width: 350px; height:360px; margin-left: 30px">
                        <div class="product discount product_filter">
                            <div class="product_image centered">
                                <img src="@strImge" style="width:300px; height:230px; margin-left:25px" alt="@item.Title">
                            </div>

                            @*@if (item.PriceSale > 0)
                            {
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                            }*@
                            <div class="product_info">
                                <h6 class="product_name"><a href="/chi-tiet/@item.Alias-p@(item.Id)">@item.Title</a></h6>

                                    <div class="product_price">@WebsiteBanDoAnVaThucUong.Common.Common.FormatNumber(item.SalePrice, 0)</div>

                            </div>
                            <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">add to cart</a></div>
                        </div>
                        @*<div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">add to cart</a></div>*@
                    </div>

                }
            }
            else
            {
                <p>Không tìm thấy sản phẩm nào phù hợp.</p>
            }

        @*</div>*@

    </div>
</div>
@*</div>*@

<style>
    .product-item 
    {
        display: inline-block;
        width: 350px;
        height: 330px;
        margin: 20px;
        vertical-align: top;
    }

        .product-item .product_image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 230px;
        }

        .product-item img {
            max-width: 100%;
            max-height: 100%;
        }
</style>